h1 {
    font-size: 1.2em;
    position: relative;
}

h2 {
   font-size: 1.2em;
   position: relative;

}

h3 {
    font-size: 1.2em;
    position: relative;
}

h4 {
    font-size: 1.2em;
    text-align: center;
    position: relative;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(64, 64, 92);
    text-align: justify;
    font-size: 90%;
}

.color-text {
    color: rgb(20, 20, 119);
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

.hero-feature {
    color: rgb(20, 20, 119);
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.hero-call {
    color: rgb(20, 20, 119);
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.global {
    color: rgb(20, 119, 81);
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.tools {
    color: rgb(20, 119, 81);
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

